:root {
    --brown-bg: #e6ccb2;
    --brown-text: #7f5539;

    --red-bg: #f8d8cd;
    --red-text: #eb6f6f;

    --yellow-bg: #f3f1e5;
    --yellow-text: #e7cc43;

    --blue-bg: #e1ecf7;
    --blue-text: #71a5de;

    --green-bg: #ebfaea;
    --green-text: #64ad61;

    --background-color: var(--blue-bg);
    --text-color: var(--blue-text);
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color);
    transition: background-color 1000ms;
}

header h1 {
    margin: 30px;
    color: var(--text-color);
}

main {
    display: flex;
    padding: 0 40px;
}

button {
    background-color: rgba(255, 255, 255, 0.4);
    color: var(--text-color);
    font-weight: bolder;
    font-size: 30px;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: color 1000ms;
}

side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 30px;
    font-weight: 500;
    width: 50%;
    color: var(--text-color);
    transition: color 1000ms;
    opacity: 0;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    width: 90%;
    height: 65%;
    z-index: 3;
    background-color: rgba(254, 254, 254, 0.9);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup div {
    font-size: 30px;
}

.popup button {
    font-size: 50px;
    background-color: transparent;
}