* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e6ccb2;
}

header h1 {
    margin: 30px;
    color: #7f5539;
}

main {
    display: flex;
}

button {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    font-weight: bolder;
    font-size: 30px;
    border: none;
    cursor: pointer;
    padding: 10px;
}

side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 30px;
    font-weight: 500;
    width: 50%;
    color: #7f5539;
}